<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/assets/server-styles.css" />
    <link rel="stylesheet" href="/client/client-bundle.css" />
    <title><%= title %></title>
</head>
<body>
<img src="/assets/ts.png" />
<img src="/assets/nodejs.png" />
<div><%= serverRenderText %></div>
<div id="root"></div>
<script type="text/javascript" src="./client/client-bundle.js"></script>
</body>
</html>